/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ubuntu-mono-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: rgb(20, 20, 20);
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}
h1, h2, h3, h4, h5, h6{font-family: Georgia, 'Times New Roman', Times, serif}
p, span, input, th {
  color: #ccc;
}
span.toast-value {
  color: black;
  margin: 0;
}
input[type=file] {
  margin: 0em;
  margin: auto;
  border:auto;
  padding: auto;
}

input[type=text], input[type=password], input[type=number] {
  background-color: rgb(0, 0, 0);
  color: #eee;
}

input[type=button] {
  background-color: rgb(0, 0, 0);
  color: #eee;
  margin: 0.5em;
}

.ubuntu {
  font-family: 'Ubuntu Mono';
  font-size: 1.25rem;
}

.btn {
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

table {
  width: 100%
}


.bx-shadow{
  box-shadow: 0 0 20px 0.2rem inherit;}
.container{background-color:black;transition: 0.5s;box-shadow: 0px 0px 0px rgb(0, 0, 0);}
.container:hover{transition: 0.5s;box-shadow: 5px 5px 8px rgb(14, 14, 14);}
hr {background-color: white;padding-bottom: 2px;}
.th {text-align: center;}
.form-control, .form-control:active, .form-control:hover,.form-control:focus{background-color: black;border-color: rgb(37, 37, 37);color: white;}
p { white-space: 500px;}
#passwordOutput > tr:nth-child(1){text-align: center; }
.form-control, .form-control:hover {
  filter: none;
  background: inherit !important;
}
.toast {    position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid black;
  pointer-events: none;
}
.FeatherSVG{background-color: rgb(66, 66, 66);}
.FeatherSVG-Danger{background-color: #dc3545}
.FeatherSVG-Success{background-color: #28a745}
.FeatherSVG-General{background-color: #007bff}
.FeatherSVG-Info{background-color: #17a2b8}
.exit-Toast{color: rgb(134, 0, 0)}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #000000;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}
